<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>

  <body>
    <div class="login-page">
      <div class="login-card">
        <h2>Iniciar sesión</h2>
        <p class="subtitle">Ingresa tus credenciales para continuar</p>

        <div class="alert alert-danger" th:if="${param.error}">
          Usuario o contraseña incorrectos.
        </div>

        <div class="alert alert-success" th:if="${param.logout}">
          Sesión cerrada correctamente.
        </div>

        <form th:action="@{/login}" method="post">
          <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="username" required autofocus />
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" required />
          </div>

          <button type="submit" class="btn-login">Ingresar</button>
        </form>

        <div class="users-title">
          <span></span>
          <p>Usuarios de prueba</p>
          <span></span>
        </div>

        <div class="users-box">
          <div>
            <b>admin / admin123</b>
            <small>Administrador</small>
          </div>
          <div>
            <b>mozo1 / mozo123</b>
            <small>Mozo</small>
          </div>
          <div>
            <b>cocinero1 / cocina123</b>
            <small>Cocinero</small>
          </div>
          <div>
            <b>cajero1 / cajero123</b>
            <small>Cajero</small>
          </div>
          <div>
            <b>logistica1 / logistica123</b>
            <small>Logística</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
